* {
background:transparent !important;
color:#000 !important;
text-shadow:none !important;
filter:none !important;
-ms-filter:none !important;
}

body {
margin:0;
padding:0;
line-height: 1.4em;
}
@page {
margin: 0.5cm;
}
nav, footer, video, audio, object, embed { 
display:none; 
}
.print {
display:block;
}

.no-print { 
display:none; 
}
img {
max-width: 100%;
}
aside {
display:block;
page-break-before: always;
}
.wrap { 
width: 100%; 
margin: 0; 
float: none !important; 
}
body {
font: 12pt Georgia, "Times New Roman", Times, serif;
color: #000;
}

h1 {
font-size: 24pt;
}

h2 {
font-size: 18pt;
}

h3 {
font-size: 14pt;
}
q:after {
content: " (" attr(cite) ")";
}
a, a:visited {
text-decoration: underline;
}
a:link:after, a:visited:after {
content: " (" attr(href) ") ";
}
a:after, a[href^="javascript:"]:after, a[href^="#"]:after { 
content: ""; 
}
p a {
word-wrap: break-word;
}
p {
widows: 3;
}
p {
orphans: 3;
}
.page-break { 
page-break-before: always; 
}