


/* Seção paralax */
	
}

.fatos{
	text-align: center;
	color: #00000;
}

.fatos .icon i{
	font-size: 50px;
	color: #00000;
}

.fatos h3{
	font-size: 35px;
	color: #00000;
	margin-bottom: 5px;
	font-weight: 700;
	letter-spacing: 1px;
}

.fatos h4{
	font-size: 20px;
	font-weight: 400;
	color: #00000;
	letter-spacing: 1px;
}



/* Configurações gerais */

.underline{
	content: '';
	border-top: 2px solid #ff3859;
	width: 70px;
	display: block;
	margin-bottom: 8px;
	margin: 0 auto;
}

.underline-footer{
	content: '';
	border-top: 2px solid #ff3859;
	width: 70px;
	display: block;
	margin-top: 5px;
}




.sombra:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1)
}